.gitattributes

# sometimes created by Mac Os X's finder
.DS_Store

# windows hidden work-in-progress files
*~

# swap files used by vim
*.swp

# xcode files
*xcuserdata*
optional_xcode_project/TOK_ONE/TOK_ONE.xcodeproj/xcshareddata/
*.xcuserstate
*.plist
src/ios/hello3dgfx/hello3dgfx/Assets.xcassets/*
src/ios/hello3dgfx/hello3dgfx.xcodeproj/xcshareddata/*
src/ios/hello3dgfx/hello3dgfx.xcodeproj/xcuserdata/*

# metal libraries
Shaders.air

# my 'run only, dont build' script
run.sh

# ctags file
tags

build/*
test/*
assetprep/build/*
